<ion-view class="walkthrough-view" cache-view="false">
  <ion-content scroll="false">
    <div class="top-content row">
      <ion-slides show-pager="true">
        <ion-slide-page>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h">اجتماعتان را نقد کنید</h3>
              <img class="slide-image" ng-src="img/wordpress_logo_white.png"/>
              <p class="slide-p">
                به جامعه نقادان بپیوندید.
              </p>
            </div>
          </div>
        </ion-slide-page>
        <ion-slide-page>
          <div class="row slide-content">
            <div class="col">
              <h3 class="slide-h">منصفانه نقد کنید</h3>
              <img class="slide-image" ng-src="img/ionic_logo_white.png"/>
            </div>
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="sign-up button button-block" ui-sref="register">
          ثبت نام
        </a>
      </div>
      <div class="col col-center">
        <a class="login button button-block" ui-sref="login">
          ورود
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
