<ion-modal-view>
	<ion-header-bar>
		<h1 class="title title-right">سئوالات متداول</h1>
		<div class="button button-positive" ng-click="faqs_modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	<ion-content style="direction: rtl">
		<div class="faqs">
			<ul class="list">
				<li class="faq-item">
					<h5>این برنامه چه برنامه ایست ؟</h5>
					<p>
					برنامه ایکه در آن میتوانید جامعه غیر حکومتی را نقد کنید.
					</p>
				</li>
			</ul>
		</div>
	</ion-content>
</ion-modal-view>
