<ion-modal-view>
    <ion-header-bar>
        <h1 class="title title-right">قوانین استفاده</h1>
        <div class="button button-positive" ng-click="terms_modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content style="direction: rtl">
        <div class="terms-of-service">
            <p>آخرین تغییر : ۹ بهمن ۱۳۹۵ </p>
            <h4 class="title">به جامعه نقادان خوش آمدید</h4>
            <p>از اینکه از این enaqd برای نقد کردن استفاده می کنید متشکریم.</p>
            <p>
            قوانین استفاده از نرم افزار به شرح زیر می باشد :
                <ul  style="list-style-type:disc">
                    <li> برای انتشار نقد های الکترونیکی، نقد اجتماعی و تجارب خود عکسی از صحت مطلب بایستی انتخاب
                        شود.
                    </li>
                    <li> مسولیت صحت و درستی مطالب با کاربران می باشد و سایت Enaqd.com مسولیتی را در این رابطه
                        ندارد.
                    </li>
                    <li> مطالب کذب و دروغین در صورت اثبات کذب بودن آن، از سایت بدون اجازه کاربر حذف می شوند.
                    </li>
                    <li> قرار دادن هر گونه لینک یا نظر با محتوای اهانت به دیگران و یا تمسخر آن‌ها تخلف محسوب
                        می‌شود.
                    </li>
                    <li> انتشار هرگونه محتوای علیه امنیت ملی و آسایش عمومی، علیه مقامات و نهادهای دولتی و عمومی
                        تخلف محسوب می‌شود.
                    </li>
                    <li> ایجاد شناسه‌ کاربری متعدد توسط یک شخص تخلف محسوب شده و در صورت احراز شدن برای مدیریت
                        سایت، تمامی شناسه‌های کاربری غیرفعال می‌گردد.
                    </li>
                    <li> ایجاد شناسه کاربری با استفاده از هویت واقعی یا مجازی دیگران تخلف محسوب شده و در صورت
                        احراز آن برای مدیریت سایت،‌ آن شناسه کاربری غیرفعال می گردد.
                    </li>
                    <li> استفاده از شناسه‌ کاربری غیرمعمول و توهین‌آمیز مجاز نمی باشد.
                    </li>
                    <li> استفاده از تصویر کاربری نامناسب و انتشار پست های با تصاویر نامناسب تخلف محسوب می شود.
                    </li>
                    <li> دسترسی بدون اجازه به حساب کاربران و تغییر پست های کاربران تخلف محسوب می شود.
                    </li>
                </ul>
            </p>
            <b>محتوای سایت توسط کاربران تولید شده است و Enaqd.com هیچ مسئولیتی نسبت به آن ها ندارد</b>
        </div>
    </ion-content>
</ion-modal-view>
